# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\FMTriguero\Chinese_to_Pinyin_overlay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
